<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:networkSecurityConfig="@xml/hot_test_network">
        <activity android:name="app.luoxianlv.hot.NativeHarnessActivity" android:exported="false" android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity android:name="app.luoxianlv.hot.NativeLifecycleHarness" android:exported="false" android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
